<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.6"?>

<target name="net.davymeers.tycho.example.pomdependencies.target" sequenceNumber="4">
<locations>
<location path="${project_loc}\lib" type="Directory"/>
</locations>
</target>
